/*089 Overrides CG*/

a {
    transition: all 0.5s ease-in-out;
}

.clr {
  clear: both;
}

.vp375visible {
    display: none;
}

table#team-table {
    display: none;
}

.is_fullwidth img {
    width: 100%;
}

h1, h2 {
    margin: 0px;
}

#main {
    padding: 20px 10px 20px 10px;
}

table.ofen-hersteller td {
    padding-bottom: 20px;
}

body.site div#module_118 {
    margin: 10px 0px 16px 0px;
    width: 94%;
    border: 1px solid #c6c6c5;
    padding: 3px 1px;
    background: #7B6B5A;
}

body.site div#nivo_slider_118 {
    margin-bottom: 0px;
}


body.site div#header {
  margin: 0px;
}

body.site div#header-image {
  margin: 0px;
}

body.site div#mobile-menu {
  display: none;
}

body.site ul.mm-listview {
  font-size: 16px;
}

a.tel-mobile {
  color: #808080;
  text-decoration: none;
}

div.page-header {
    border: none;
    padding-bottom: 0px;
}

#main .items-leading h2 {
    padding: 0px 0px;
}

.breadcrumb>li {
    display: inline-block;
    text-shadow: none;
}

body.site div#module_99 a {
    border-bottom: 55px solid transparent;
    transition: all 0.3s ease-in-out;
}

body.site div#module_99 a:hover,
body.site div#module_99 a:active,
body.site div#module_99 a:focus {
  background: none;
  color:#fff;
  text-decoration: none;
  border-bottom: 55px solid #E30917;
}

body.site div#breadcrumbs a.pathway span {
    color: #E30917;
    background: none;
}

body.site div#breadcrumbs a:hover {
    background: rgba(227, 9, 23, 0.22);
}

body.site ul.pagenav li a {
    padding: 8px;
}  

body.site span.icon-chevron-right {
    margin-top: 3px;
}  

/*Kontakt*/

body.site .dl-horizontal dt {
    float: none;
    width: initial;
    overflow: hidden;
    clear: left; 
    text-align: left; 
    text-overflow: ellipsis;
    white-space: nowrap;
}

body.site .dl-horizontal dd {
    margin-left: 0px;
}

#contact-form fieldset legend {
    font-weight: normal;
    font-size: 12px;
    border-bottom: none;
    margin: 0px;
}

#contact-form .form-horizontal .control-group {
    margin: 0px 0px 10px;
}

body.site .form-horizontal .control-label {
    width: initial;
}


body.site .form-actions {
    padding: 0px;
    margin: -30px 0px 0px 0px;
    border-top: none;
    background-color: transparent;    
}

div.protectedby {
    display: none;
}

body.site input.button,
body.site button.button,
body.site button.validate {
    cursor: pointer;
    padding: 13px 15px;
    font-weight: bold;
    line-height: 1.2em;
    font-family: inherit;
}

body.site .btn-primary {
    text-shadow: none;
    background-color: transparent;
    background-image: none;
    border: none;
}

/*<!-Kontakt end*/


body.site #main div.twoj_slider_inner_li h2 {
    margin-bottom: 0px;
    line-height: 30px;
}

body.site div.twoj_slider_inner_li p {
    margin-top: 0px;
}

body.site #footer p {
    margin-top: 7px;
}

#xmap {
    padding-left: 21px;
    padding-top: 14px;
    margin: 0px 40px;
}

body.site .twoj_newsslider_theme1 .twoj_slider_inner_ul,
body.site .twoj_slider_inner_li {
    padding-top: 55px;
}

body.site #main div.blog .items-row h2 {
    background: #fff;
    color: #E30917 !important;
    font-weight: normal;
}

body#itemId-109 #main div.blog span.icon-chevron-right {
    margin-top: 1px;

}

body#itemId-109 #main div.blog p a.btn {
    background: none;
}

body#itemId-109 #main div.blog p a.btn:hover,
body#itemId-109 #main div.blog p a.btn:focus {
    background: none !important;
    /*font-weight: normal !important;*/
    color: #E30917 !important;
}

/*cookie control*/
body.site #cookiesck .cookiesck_inner a,
a.cookieImp {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
}
  body.site #cookiesck_accept {
      background: #404040;
      float: none;
      width: 100px;
      margin: 20px auto 0px !important;
      border: 1px solid #fff;
  }
body.site #cookiesck_readmore {
    margin: 1px 0px 1px 1px;
    color: #fff;
    float: none;
    text-decoration: underline;
    text-shadow: 0px 3px 5px #525252;
    padding: 10px 10px 10px 0px;
}
body.site #cookiesck {
    padding: 5px 10px 5px;
    font-size: 16px;
}
body.site #cookiesck .cookiesck_inner,
a.cookieImp {
    display: initial;
    line-height: 20px;
    text-shadow: 0px 3px 5px #525252;
}
body.site #cookiesck_accept:hover {
    font-size: initial;
    background: #fff;
    color: #404040;
}
@media(max-width: 1280px) {
  body.site div#cookiesck span {
      font-size: 14px !important;
  }
  body.site #cookiesck_readmore {
      padding: 10px 10px 10px 0 !important;
  }
  body.site #cookiesck_accept {
      float: none !important;
      margin: 10px auto !important;
  }
  body.site #cookiesck {
      text-align: left !important;
      line-height: 25px !important;
  }
}
@media(max-width: 1279px) and (orientation: portrait) {
/*  body.mobile #cookiesck {
      bottom: 20vh;
  }*/
}
