/*089 Responsive CSS*/

@media(min-width: 769px) {

    .menumenupix2 li {
        display: inline-block;
        height: 117px;
        padding-bottom: 16px;
        padding-right: 9px;
        width: 137px;
    }

    .menumenupix2 {
        width: 440px !important;
    }

    div#module_99 {
        position: relative;
        right: 28px;
    }
}



  /*089 Responsive overrides*/
  @media(width: 320px) {

  }

  @media(width: 414px) {

  }

  @media(width: 600px) {

  }

  @media(width: 736px) {

  }

  @media(width: 768px) {

  }

  @media(width: 800px) {
    
  }

  @media(width: 1024px) {
    
  }

@media(max-width: 320px) and (orientation: portrait) {

    div.mobile-h3 {
      padding-right: 65px !important;
  }
}

  @media(max-width: 1023px) and (orientation:landscape) {
      div#module_119 {
          height: auto;
      }
  }

  @media(width: 1024px) and (orientation:landscape) {

    h3.menue-h3.offset1 {
      display: none;
    }
  }


  @media(max-width: 568px) and (orientation: landscape) {
      
      div.mobile-h3 {
          padding-right: 110px !important;
      }

      ul.sigProElegant {
          max-width: 520px;
      }
  }

  @media(width: 667px) and (orientation: landscape) {
      
      div.mobile-h3 {
          padding-right: 190px !important;
      }
  }

  @media(min-width: 668px) and (orientation: landscape) {
      
      div.mobile-h3 {
          padding-right: 220px !important;
      }
  }

  @media(width: 768px) and (orientation: portrait) {

    .bckgr_noRepeat {
      background-size: 100%;
    }

    .customservicetel p {
        padding-top: 77px;
    }

    div.mobile-h3 {
        padding-right: 220px !important;
    }

    div.mobile-service {
        font-size: 14px;
    }

    .mobile-service a {    
        font-size: 18px !important;
    }
  }

  @media(max-width: 320px) {
      body.site #breadcrumbs {
          font-size: 0.6em;
      }
  }

  @media(max-width: 375px) {

     body.site .contact textarea {
        width: 250px;
    }
    .vp375visible {
        display: block;
    }
  }

@media(min-width: 376px) {

    table#team-table {
        display: block;
    }
}

  @media(min-width: 321px) and (max-width: 375px) {
      body.site #breadcrumbs {
          font-size: 0.65em;
      }
  }

  @media(min-width: 376px) and (max-width: 414px) {
      body.site #breadcrumbs {
          font-size: 0.7em;
      }

      table#team-table {
        display: inline-block;
    } 
  }  

  @media(max-width: 479px) {

    body.site .form-horizontal .controls {
        margin-left: 0px;
    }

    body.site table#team-table div.img_caption {
        max-width: 110px;
        margin: 0px;
    }

    body.site table#team-table p.img_caption {
        font-size: 10px;
        text-align: left !important;
    }
  }

  @media(min-width: 737px ) {

    body.site #easycalccheckplus {
        margin: 8px 115px !important;
    }
  }

  @media(max-width: 767px) {

    h3.menue-h3.offset1 {
      font-size: 14px;
    }

    body.site ul.mm-listview {
      font-size: 14px;
    }

    table#team-table {
        margin-bottom: 40px;
    }

  }

  @media (min-width: 769px) {

    body.site div#all.container-fluid {
      max-width: 980px;
    }

    div#wrapper {
        padding-left: 40px;
    }

    body.site .breadcrumb {
       padding: 8px 22px;
       margin: 0px;
    }

  }

  @media(max-width: 768px) {

    ul.nav.menumenupix2 li img {
        width: 93%;
    }

    .menumenupix2 li {
      display: inline-block;
      width: 33%;
      padding: 5px 0px;
    }

    .item-page img {
        /*max-width: 70%;*/
        float: none !important;
        margin: 0px 0px 20px 0px;
        display: table-row;
    }

    body.site .customservicetel2 p {      
        padding-top: 38px !important;
    }

     body.site table#team-table div.img_caption {
        padding: 0px 10px 0px 0px;
    }

    body.site div#right.span5.right-mobile {
        margin: 0px auto;
    }
  }

  @media(min-width: 768px) {
    div.img_caption {
        padding: 0px 20px 0px 0px;
    }
  }

  @media(min-width: 768px) and (max-width: 979px) {

    body#itemId-106 div.span7.mobile-component {
        float: none;
        width: 505px;
        margin: 0px auto;
    }

    body#itemId-106 .span7.mobile-component {
        max-width: 505px;
    }

    body#itemId-106 table#team-table {
        margin-bottom: 50px;
    }

    body#itemId-106 div#right.span5.right-mobile {
        margin: 0px auto;
        float: none;
    }

  }



  @media(max-width: 736px) {
    

  }

  @media(max-width: 800px) {


  }

  @media(max-width: 1023px) {

    body.site div.mobile-line-id {
      display: none;
    }

    body.site ul.mm-listview li a:hover,
    body.site ul.mm-listview li a:focus,
    body.site ul.mm-listview li a:active {
      background: rgb(226,226,226);
      background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 54%, rgba(254,254,254,1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(54%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1)));
      background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 54%,rgba(254,254,254,1) 100%);
      background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 54%,rgba(254,254,254,1) 100%);
      background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 54%,rgba(254,254,254,1) 100%);
      background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 54%,rgba(254,254,254,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );
    }

  /*resp-menue*/

    body.site div#mobile-menu {
      display: block;
    }

    .container a:hover:after {
      width: 100%;
    }

    li.current.active {
        background-color: #FAEBD7;
    }

    body.site div#header-image {
        width: 90%;
        margin: 0px auto;
        min-height: 0px !important;
    }

    body.site div#module_118 {
        border: none;
    }

    div.mobile-h3 {
        padding-right: 80px;
    }

    .mobile-service {
        padding-left: 10px;
        text-transform: uppercase;
        font-size: 12px;
        color: #fff;
        display: table-cell;
    }

    .mobile-service a {
        color: #fff;
        font-size: 14px;
        font-weight: bold;     
    }


    .mobile-h3 a {
        color: #fff;
        transition: all 0.5s ease-in-out;
    }


    .button_container {
      position: absolute;
      left: 5%;
      height: 27px;
      width: 45px;
      cursor: pointer;
      z-index: 100;
      margin-top: 15px;
      -webkit-transition: opacity .25s ease;
            transition: opacity .25s ease;
    }
    .button_container:hover {
      opacity: .7;
    }
    html.mm-opened .button_container .top {
      -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
          -ms-transform: translateY(10px) translateX(0) rotate(45deg);
              transform: translateY(10px) translateX(0) rotate(45deg);
      background: #d0d0d0;
    }
    html.mm-opened .button_container .middle {
      opacity: 0;
      background: #d0d0d0;
    }
    html.mm-opened .button_container .bottom {
      -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
          -ms-transform: translateY(-10px) translateX(0) rotate(-45deg);
              transform: translateY(-10px) translateX(0) rotate(-45deg);
      background: #d0d0d0;
    }
    .button_container span {
      background: #fff;
      border: none;
      height: 5px;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0;
      -webkit-transition: all .35s ease;
              transition: all .35s ease;
      cursor: pointer;
    }
    .button_container span:nth-of-type(2) {
      top: 10px;
    }
    .button_container span:nth-of-type(3) {
      top: 20px;
    }

  }

  @media(max-width: 1024px) {

    body.site div#main {
      font-size: 16px;
    }

    div.copyright-mobile {
      color: #fff;
      font-size: 12px;
    }

    .bckgr_noRepeat {
      background-repeat: no-repeat;
    }

    body.site div#right.right-mobile div.custom img {
      float: none !important;
    }

    div#right.span5.right-mobile {
        width: 310px;
    }

    .custom.hidden-desktop.is_fullwidth p {
        margin: 0px;
    }

  }

  @media(min-width: 768px) and (max-width: 800px) {

    .span7.mobile-component {
        max-width: 355px;
    }
  }

  @media(min-width: 769px) and (max-width: 1024px) {

      body.site div#header {
        padding: 0px;
      }
  }

@media(min-width: 1024px) { 

    #line {
        margin: 9px 0px 0px;
    }

    .mobile-service {
        display: none;
    }

    img.img-ost {
        padding: 0px 0px 20px 30px;
    }
}


@media(min-width: 1025px) {

    #wrapper {
        float: left;
        margin-left: 15px;
        margin-top: 0px;
        position: relative;
        width: 496px;
    }

    #right {
        float:right;
        width: 20%;
        margin:25px 0px 10px 2%;
        padding:0px 0px 5px 0px;
        position:relative;
        width: 309px;
    }

    body#itemId-101 #right {
        margin: 12px 0px 10px 2%;
    }

}

  @media(min-width: 1025px) {

    body.site div#main div.item-page table {
      width: 468px;
    }

    #main {
      padding: 20px 0px 20px 10px;
    }

    body.site .form-horizontal .controls {
        margin-left: 120px;
    }
  }

  @media(max-width: 1200px) {

  }