.twoj_slider_block.twoj_newsslider_theme1{}

.twoj_newsslider_theme1 .twoj_slider_outter{
	background: #e9e9e9; /* for non-css3 browsers */
	background: url("/images/hp-pix/modul-hg-right/modul-aktuelles.png"); /* for webkit browsers */
	background: url("/images/hp-pix/modul-hg-right/modul-aktuelles.png"); /* for firefox 3.6+ */
	background: url("/images/hp-pix/modul-hg-right/modul-aktuelles.png"); /* Opera 11.10+ */
	background: url("/images/hp-pix/modul-hg-right/modul-aktuelles.png"); /* IE10+ */
background-image: url('/images/hp-pix/modul-hg-right/modul-aktuelles.png')!important;/* IE7 */
	
}

.twoj_newsslider_theme1 .twoj_slider_inner_ul, .twoj_slider_inner_li{
padding-left: 35px;
    padding-top: 62px;
}

.twoj_newsslider_theme1 .twoj_slider_inner_li{	}

.twoj_newsslider_theme1 .twoj_slider_menu{}

.twoj_newsslider_theme1 .twoj_slider_menu_link{
	background: transparent url('%%CSS_URL%%/images/theme1/button.png') no-repeat left top;
	width: 25px;
	height: 15px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	outline: none;
	font-weight: bolder;
}

.twoj_newsslider_theme1 .twoj_slider_menu_link.twoj_slider_active_link{
	background: transparent url('%%CSS_URL%%/images/theme1/button_a.png') no-repeat left top;
	color: white;
}

.twoj_newsslider_theme1 .twoj_slider_button{
	width: 23px;	
	height: 23px;
	
}

.twoj_newsslider_theme1 .twoj_slider_button_next_big{
	background: transparent url('%%CSS_URL%%/images/theme1/next.png') no-repeat right top;
	width: 52px;	
	height: 51px;
	margin-right: -40px;
}
.twoj_newsslider_theme1 .twoj_slider_button_prev_big{
	background: transparent url('%%CSS_URL%%/images/theme1/prev.png') no-repeat right top;
	width: 52px;	
	height: 51px;
	margin-left: -40px;
}
.twoj_newsslider_theme1 .twoj_slider_button_next{
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right:2px;
	background: transparent url('%%CSS_URL%%/images/theme1/next_small.png') no-repeat center center;
}
.twoj_newsslider_theme1 .twoj_slider_button_prev{
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left:2px;
	background: transparent url('%%CSS_URL%%/images/theme1/prev_small.png') no-repeat center center;
}

.twoj_newsslider_theme1 .twoj_slider_button_play{
	margin-top: 2px;
	margin-bottom: 2px;
	background: transparent url('%%CSS_URL%%/images/theme1/play_small.png') no-repeat center center;
}
.twoj_newsslider_theme1 .twoj_slider_button_stop{
 	margin-top: 2px;
	margin-bottom: 2px;
	background: transparent url('%%CSS_URL%%/images/theme1/stop_small.png') no-repeat center center;
}

.twoj_newsslider_theme1 .twoj_slider_timer_indication{
	background-color: transparent;
	height:2px;
	background: url('%%CSS_URL%%/images/theme1/timer_top.png') repeat-x top left;
}

.twoj_newsslider_theme1 .twoj_slider_pause{
	font-weight: normal;
	color: gray;
	background-color: transparent;
	margin: 3px 5px 0px 0px;
	top: 0px;
	right: 0px;
}