.twoj_slider_block{}

.twoj_slider_outter{}

.twoj_slider_inner_ul, .twoj_slider_inner_li{
	margin: 0;
	padding: 0;
	background-image: none;
	outline: 0px none;
}

.twoj_slider_inner_li{
	padding: 10px;
	border: 0px none;
}

.twoj_slider_menu{
	width: auto;
	margin: 0;
	padding: 0;
}

.twoj_slider_menu_link{
	float: left;
	display: block;
	cursor: pointer;
	overflow: hidden;
	margin: 0;
}

.twoj_slider_menu_link.twoj_slider_active_link{}

.twoj_slider_button{
	cursor: pointer;
	text-indent: -9999px;
	outline: none;
	float: left;
}

.twoj_slider_button_next_big{}
.twoj_slider_button_prev_big{}
.twoj_slider_button_next{}
.twoj_slider_button_prev{}
.twoj_slider_button_play{}
.twoj_slider_button_stop{}

.twoj_slider_timer_indication{
	float:left;
	position: absolute;
}

.twoj_slider_outter .twoj_slider_pause{
	position: absolute;
}

.twoj_slider_position_block{
	position: absolute;
	padding: 0;
	width: auto;
}

.twoj_slider_position_leftbefore{ 	top:0px; left:0px; }
.twoj_slider_position_centerbefore{ top:0px; left:0px; }
.twoj_slider_position_rightbefore{ 	top:0px; right:0px; }

.twoj_slider_position_lefttop{ 		top:0px; left:0px;}
.twoj_slider_position_centertop{ 	top:0px; left:0px; }
.twoj_slider_position_righttop{ 		top:0px; right:0px; }

.twoj_slider_position_leftcentre{ 	top:50%; left:0px;}
.twoj_slider_position_rightcentre{ 	top:50%; right:0px;}

.twoj_slider_position_leftbottom{ 	bottom:0px; left: 0px; }
.twoj_slider_position_centerbottom{ bottom:0px; left: 0px; }
.twoj_slider_position_rightbottom{	bottom:0px; right:0px;}

.twoj_slider_position_leftafter{		bottom:0px; left:0px; }
.twoj_slider_position_centerafter{ 	bottom:0px; }
.twoj_slider_position_rightafter{ 	bottom:0px; right:0px; 	}

.twoj_slider_debug .twoj_slider_position_block{ border: 1px solid Black; }