.twoj_slider_block.twoj_newsslider_theme4{
	background-color: #f2f2f2;  
	border: 2px solid #d2d2d2;
}

.twoj_newsslider_theme4 .twoj_slider_outter{
	background: #f2f2f2;
	border-top: 1px none white;
}

.twoj_newsslider_theme4.twoj_slider_block_contain_leftbefore .twoj_slider_outter,
.twoj_newsslider_theme4.twoj_slider_block_contain_centerbefore .twoj_slider_outter,
.twoj_newsslider_theme4.twoj_slider_block_contain_rightbefore .twoj_slider_outter{
	border-top: 2px solid  #d2d2d2;
}

.twoj_newsslider_theme4.twoj_slider_block_contain_leftafter .twoj_slider_outter,
.twoj_newsslider_theme4.twoj_slider_block_contain_centerafter .twoj_slider_outter,
.twoj_newsslider_theme4.twoj_slider_block_contain_rightafter .twoj_slider_outter{
	border-bottom: 2px solid  #d2d2d2;
}

.twoj_newsslider_theme4 .twoj_slider_inner_ul, .twoj_slider_inner_li{}

.twoj_newsslider_theme4 .twoj_slider_inner_li{  }


.twoj_newsslider_theme4 .twoj_slider_menu{
	padding-right: 5px;
}

.twoj_newsslider_theme4 .twoj_slider_menu_link{
	background: transparent url('%%CSS_URL%%/images/theme4/button.png') no-repeat center center;
	width: 15px;
	height: 37px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: silver;
	outline: none;
	font-weight: bolder;
}

.twoj_newsslider_theme4 .twoj_slider_menu_link.twoj_slider_active_link{
	background: transparent url('%%CSS_URL%%/images/theme4/button_a.png') no-repeat center center;
	color: black;
}


.twoj_newsslider_theme4 .twoj_slider_button{
	width: 21px;	
	height: 21px;
}

.twoj_newsslider_theme4 .twoj_slider_button_next_big{
	background: transparent url('%%CSS_URL%%/images/theme4/next.png') no-repeat center center;
	width: 31px;	
	height: 37px;
}
.twoj_newsslider_theme4 .twoj_slider_button_prev_big{
	background: transparent url('%%CSS_URL%%/images/theme4/prev.png') no-repeat center center;
	width: 31px;	
	height: 37px;
}
.twoj_newsslider_theme4 .twoj_slider_button_next{
	background: transparent url('%%CSS_URL%%/images/theme4/next_small.png') no-repeat center center;
	margin-bottom: 3px;
	margin-top: 3px;
}
.twoj_newsslider_theme4 .twoj_slider_button_prev{
	background: transparent url('%%CSS_URL%%/images/theme4/prev_small.png') no-repeat center center;
	margin-bottom: 3px;
	margin-top: 3px;
}

.twoj_newsslider_theme4 .twoj_slider_button_play{
	background: transparent url('%%CSS_URL%%/images/theme4/play_small.png') no-repeat center center;
	margin-bottom: 3px;
	margin-top: 3px;
}
.twoj_newsslider_theme4 .twoj_slider_button_stop{
	background: transparent url('%%CSS_URL%%/images/theme4/stop_small.png') no-repeat center center;
	margin-bottom: 3px;
	margin-top: 3px;
}

.twoj_newsslider_theme4 .twoj_slider_timer_indication{
	background-color: silver;
	height:1px;
}

.twoj_newsslider_theme4 .twoj_slider_pause{
	font-weight: bolder;
	color: gray;
	background-color: transparent;
	margin: 3px 5px 0px 0px;
	top: 0px;
	right: 0px;
}

.twoj_newsslider_theme4 .twoj_slider_position_leftafter{ padding-left: 5px; }
.twoj_newsslider_theme4 .twoj_slider_position_rightafter{ padding-right: 5px; }