.twoj_slider_block.twoj_newsslider_theme2{}

.twoj_newsslider_theme2 .twoj_slider_outter{
	background: #e9e9e9; /* for non-css3 browsers */
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e9e9e9)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ffffff,  #e9e9e9); /* for firefox 3.6+ */
	background: -o-linear-gradient(top,  #ffffff,  #e9e9e9); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff,  #e9e9e9); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9e9e9');
}

.twoj_newsslider_theme2 .twoj_slider_inner_ul, .twoj_slider_inner_li{}

.twoj_newsslider_theme2 .twoj_slider_inner_li{ }

.twoj_newsslider_theme2 .twoj_slider_menu{}

.twoj_newsslider_theme2 .twoj_slider_menu_link{
	background: transparent url('%%CSS_URL%%/images/theme2/button.png') no-repeat left top;
	width: 22px;
	height: 14px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	outline: none;
	font-weight: bolder;
}

.twoj_newsslider_theme2 .twoj_slider_menu_link.twoj_slider_active_link{
	background: transparent url('%%CSS_URL%%/images/theme2/button_a.png') no-repeat left top;
	color: white;
}


.twoj_newsslider_theme2 .twoj_slider_button{
	width: 22px;	
	height: 22px;
}

.twoj_newsslider_theme2 .twoj_slider_button_next_big{
	background: transparent url('%%CSS_URL%%/images/theme2/next.png') no-repeat right top;
	width: 51px;	
	height: 51px;
	margin-right: -32px;
}
.twoj_newsslider_theme2 .twoj_slider_button_prev_big{
	background: transparent url('%%CSS_URL%%/images/theme2/prev.png') no-repeat right top;
	width: 51px;	
	height: 51px;
	margin-left: -34px;
}
.twoj_newsslider_theme2 .twoj_slider_button_next{
	background: transparent url('%%CSS_URL%%/images/theme2/next_small.png') no-repeat left top;
}
.twoj_newsslider_theme2 .twoj_slider_button_prev{
	background: transparent url('%%CSS_URL%%/images/theme2/prev_small.png') no-repeat left top;
}

.twoj_newsslider_theme2 .twoj_slider_button_play{
	background: transparent url('%%CSS_URL%%/images/theme2/play_small.png') no-repeat left top;
}
.twoj_newsslider_theme2 .twoj_slider_button_stop{
	background: transparent url('%%CSS_URL%%/images/theme2/stop_small.png') no-repeat left top;
}

.twoj_newsslider_theme2 .twoj_slider_timer_indication{
	background-color: transparent;
	height:2px;
	background: url('%%CSS_URL%%/images/theme2/timer_top.png') repeat-x top left;
}

.twoj_newsslider_theme2 .twoj_slider_pause{
	font-weight: normal;
	color: gray;
	background-color: transparent;
	margin: 3px 5px 0px 0px;
	top: 0px;
	right: 0px;
}


.twoj_newsslider_theme2 .twoj_slider_position_block{}